@model Intern.NTQ.Manager.Models.UserViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your ProFile</h1>

<div class="card-body">
            <div class="col-md-4">
                <form asp-controller="User" asp-action="Profile" asp-method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" value="@Model.Id" asp-for="Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input value="@Model.FirstName" asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input value="@Model.LastName" asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input value="@Model.Email" readonly="readonly" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PassWord" class="control-label"></label>
                        <input value="@Model.PassWord" asp-for="PassWord" class="form-control" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <hr />

                        <input type="submit" class="btn btn-warning" />

                        <a class="btn btn-danger" asp-area="" asp-controller="Login" asp-action="Index">Logout</a>
                    </div>
                </form>
            </div>
        </div>